@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

@font-face {
	font-family: "SoDoSans-bold";
	src: url("../fonts/SoDoSans-Bold.woff2") format("woff2"),
		url("../fonts/SoDoSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "SoDoSans-reg";
	src: url("../fonts/SoDoSans-Regular.woff2") format("woff2"),
		url("../fonts/SoDoSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SoDoSans-semibold";
	src: url("../fonts/SoDoSans-SemiBold.woff2") format("woff2"),
		url("../fonts/SoDoSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "SoDoSans-light";
	src: url("../fonts/SoDoSans-Light.woff2") format("woff2"),
		url("../fonts/SoDoSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

.inter600 {
	font-family: "Inter", sans-serif;
}
.sodo300 {
	font-family: SodoSans-light;
}

.sodo700 {
	font-family: soDoSans-bold;
}

.sodo400 {
	font-family: SoDoSans-reg;
}

.sodo600 {
	font-family: soDoSans-semibold;
}

h1 {
	font-size: 1.5em;
	color: black;
}

h2 {
	font-size: 0.875em;
	color: black;
}

h3 {
	font-size: 0.75em;
	color: black;
	font-family: soDoSans-reg;
}

@media (max-width:767px) {

    .padd{
        padding: 0px !important;
    }

    h2 {
        font-size: 16px;
        color: black;
    }

    h3 {
        font-size: 14px;
        color: black;
        font-family: soDoSans-reg;
    }
    
}

.scroll-hidden::-webkit-scrollbar {
	display: none;
}

.dashHeader {
	color: #000;
	font-family: SoDoSans-bold;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: -0.9px;
	margin-bottom: 1.1em;
}

.animate05s{
    transition: all 0.5s ease-in;
}

.animate03s{
    transition: all 0.3s ease-in;
}

.animate01s{
    transition: all 0.1s ease-in;
}

/* Styling mui drop down */
.MuiPaper-root {
	box-shadow: none !important;
    border:0.5px solid rgb(233, 233, 233);    
}

.MuiMenuItem-gutters{
    padding: 16px 0px 16px 12px !important;    
}

/* Styling the date popup picker */
.MuiPickersToolbar-root{
    background-color:#072A85 !important;   
    color:white !important;
    text-align: center !important;
    font-family: SodoSans-SemiBold !important; 
}
.MuiTypographyOverline  {
    color:white !important;
    text-align: center !important;
    font-family: SodoSans-SemiBold !important;
}
.MuiPaper-elevation24,.MuiDialog-paper{
    border:none !important;
}

.css-1g7nc1s-MuiPickersLayout-root, .css-1lugbff-MuiPickersLayout-root{
    display: flex !important;
    flex-direction: column !important;
}

.css-1m5r8g7-MuiTimePickerToolbar-amPmSelection{
    flex-direction: column !important;
}
.css-1dakek4-MuiPickersToolbar-content{
    flex-wrap: nowrap !important;
}


/* Styling priceCard height in onboarding page */
@media (max-width:567px) {
        .priceCard{
        height: fit-content !important;
    }
}

*:focus {
    outline: none !important;
    border:none;
  }